@model QLPC.Models.DataModel.KHACHHANG
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header ">
        <h3>Thông tin chi tiết khách hàng</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Thu gọn">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Đóng">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table ">
            <tr>
                <td class="col-md-1"><b>ID:</b></td>
                <td class="col-md-2">@Model.MAKH</td>
                <td class="col-md-1"><b>Điện thoại:</b></td>
                <td class="col-md-2">@Model.DTHOAIKH </td>
                <td class="col-md-1"><b>Email: </b></td>
                <td class="col-md-3">@Model.EMAIL </td>
                <td class="col-md-1"><b>Tỉnh: </b></td>
                <td class="col-md-1">@Model.TINH </td>
            </tr>
            <tr>
                <td class="col-md-1"><b>Họ tên:</b></td>
                <td class="col-md-2"><p style="color:blue">@Model.TENKH</p></td>
                <td class="col-md-1"><b>Mật khẩu:</b></td>
                <td class="col-md-2">@Model.PASS </td>
                <td class="col-md-1"><b>Địa chỉ: </b></td>
                <td class="col-md-3">@Model.DCHIKH </td>
                <td class="col-md-1"><b>Lượt mua: </b></td>
                <td class="col-md-1">@ViewBag.luotmua</td>
            </tr>
        </table>
    </div>
    <div class="box-footer">
        <button type="button" onclick="location.href=' @Url.Action("Edit", "Khachhang", new { id = Model.MAKH })'" class="btn btn-primary">Cập nhật</button>
        <button type="button" onclick="location.href=' @Url.Action("Index", "Khachhang", new { id = Model.MAKH })'" class="btn btn-default">Trở về</button>
    </div>
</div>


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Sản phẩm đã mua</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Thu gọn">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Đóng">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body" >
   @foreach(var item in ViewBag.sanpham){ 
         <div style="width:200px" class="active">
             <div><img src="@item.SANPHAM.IMAGE" width="200" height="200"/></div>
             <div style="text-align:center"><a href="/Admin/Sanpham/Details/@item.SERIAL">@item.SANPHAM.TENMAY @item.SANPHAM.MODEL</a></div>
         </div>
        }
    </div>
    <div class="box-footer">
        
    </div>
</div>
