@{
    ViewBag.Title = "Trang Chủ";
}
<style>
#mn0 {
        background-color: #B81D22;
    }

.overlay5 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #51504b;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  opacity:0.9;
}

.container5:hover .overlay5 {
  bottom: 0;
  height: 100%;
}

.text5 {
  white-space: nowrap; 
  color: #B81D22;
  font-size:20px;
  position:absolute;
  overflow:hidden;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
}
.container5 {
  position: relative;
}
.btn5{
    width:110px;
    font-family:ambleregular; 
    border:0;  
}

</style>
<div class="header_slide">
    <div class="header_bottom_left col-md-3">
        <div class="categories">
            <ul>
                <li><h3 style="margin-left:3px">HÃNG SẢN XUẤT</h3></li>
                <li><a id="Asus" href="/Home/SanPhamTheoHang/Asus">ASUS</a></li>
                <li><a href="/Home/SanPhamTheoHang/Acer">ACER</a></li>
                <li><a href="/Home/SanPhamTheoHang/HP">HP</a></li>
                <li><a href="/Home/SanPhamTheoHang/Apple">APPLE</a></li>
                <li><a href="/Home/SanPhamTheoHang/Lenovo">LENOVO</a></li>
                <li><a href="/Home/SanPhamTheoHang/Dell">DELL</a></li>
                <li><a href="/Home/SanPhamTheoHang/Sony">SONY</a></li>
                <li><a href="/Home/SanPhamTheoHang/Samsung">SAMSUNG</a></li>
                <li><a href="/Home/SanPhamTheoHang/Toshiba">TOSHIBA</a></li>
                <li><a href="/Home/SanPhamTheoHang/Intel">INTEL</a></li>
                <li><a href="/Home/SanPhamTheoHang/MSI">MSI</a></li>
                <li><a href="/Home/SanPhamTheoHang/Gigabyte">GigaByte</a></li>
                <li><a href="/Home/SanPhamTheoHang/Nec">Nec</a></li>
                <li><a href="/Home/SanPhamTheoHang/Nec">HÃNG KHÁC</a></li>
            </ul>
        </div>
    </div>
    <div class="container ">
        <div id="myCarousel" class="carousel slide" style="width:750px;height:500px">
            <ol class="carousel-indicators" >
                <li class="item1 active"></li>
                <li class="item2"></li>
                <li class="item3"></li>
            </ol>

            <div class="carousel-inner" role="listbox" style="width:700px;height:500px">

                   <div class="item active">
                       <div style="margin-left:100px">
                            <a ><img src="/Content/images/feature-pic1.jpg" style="width:200px; height:150px" /></a>
                            <h1>Big SALE<br><span>20% OFF</span></h1>
                       </div>
                            <button class="button" style="margin-left:300px" onclick="on()">Xem ngay</button>
                    </div>

                    <div class="item">
                        <div style="margin-left:50px">
                                <h1>Thanh lý hàng tồn</h1>
                                <h2>Giảm đến 40%</h2>
                                <div class="features_list">
                                    <h4>Hàng tồn nhưng chất lượng tốt </h4>
                                </div>
                                <button  class="button" onclick="on()">Xem ngay</button>
                        </div>
                                <a><img src="/Content/images/slide-2-image.jpg" style="height:250px" /></a>
                    </div>

                    <div class="item">
                                <a ><img src="/Content/images/slide-3-image.jpg" style="width:300px;height:200px" /></a>
                        <div style="margin-left:150px">
                                <h1>Khuyến mãi lớn</h1>
                                <h2>Tặng bộ phụ kiện 5 món</h2>
                                <div class="features_list">
                                    <h4>Chào tháng mới rinh quà lớn</h4>
                                </div>
                                <button class="button" onclick="on()" >Xem ngay</button>    
                        </div>                           
                    </div>
                </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div id="overlay" onclick="off()">
            <div id="text">Khuyến mãi đã hết</div>
        </div>
    </div>

</div>

<br>
<div class="main">
    <div class="content">

        @if (Session["MAKH"] != null && ViewBag.Count !=0)
        {
            <div class="content_top">
                <div class="heading">
                    <h3>Sản phẩm gợi ý</h3>
                </div>
                <div class="see">
                    <p></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                <div style="width:2px"></div>
                @foreach (var item in ViewBag.pcGoiY)
                {
                    <div class="grid_1_of_4 images_1_of_4" style="height:270px; width:250px">
                        <div class="container5">
                            <img class="image5" style="height:145px" src="@item.sanpham.IMAGE" alt="" />
                            <div class="overlay5">
                                <div class="text5">
                                    <a href="/Home/ReviewProduct/@item.sanpham.MODEL"><input type="button" class="btn5 btn-info" value="Chi tiết" style="margin-left:4px"></a> <br>
                                    <a href="#"><input type="button" class="btn5 btn-danger" style="margin-top:2px" value="Mua ngay"></a>
                                </div>
                            </div>
                        </div>
                        <a href="/Home/ReviewProduct/@item.sanpham.MODEL"><h2 style="height:40px ;margin-top:5px">@item.sanpham.TENMAY @item.sanpham.MODEL</h2></a>
                        <div class="price-details">
                            <div class="price-number" style="margin-left:-5px; margin-top:5px">
                                <p><span class="rupees">@item.sanpham.GIA.ToString("N0")<b>đ</b></span></p>
                            </div>
                            <div class="add-cart right">
                                <h4 class="gio">
                                    @if (Session["SDT"] != null)
                                    {<a href="#">Cho vào giỏ</a> }
                                    else
                                    { <a href="#" onclick="document.getElementById('id05').style.display='block'">Cho vào giỏ</a>}
                                </h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>   }
            </div>
        }
  
        @if (ViewBag.Count2 != 0 && ViewBag.Count2 != null)
        {
            <div class="content_top">
                <div class="heading">
                    <h3>Sản phẩm gợi ý</h3>
                </div>
                <div class="see">
                    <p></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                <div style="width:2px"></div>
                @foreach (var item in ViewBag.pcGoiYXem)
                {
                    <div class="grid_1_of_4 images_1_of_4" style="height:270px; width:250px">
                        <div class="container5">
                            <img class="image5" style="height:145px" src="@item.sanpham.IMAGE" alt="" />
                            <div class="overlay5">
                                <div class="text5">
                                    <a href="/Home/ReviewProduct/@item.sanpham.MODEL"><input type="button" class="btn5 btn-info" value="Chi tiết" style="margin-left:4px"></a> <br>
                                    <a href="#"><input type="button" class="btn5 btn-danger" style="margin-top:2px" value="Mua ngay"></a>
                                </div>
                            </div>
                        </div>
                        <a href="/Home/ReviewProduct/@item.sanpham.MODEL"><h2 style="height:40px ;margin-top:5px">@item.sanpham.TENMAY @item.sanpham.MODEL</h2></a>
                        <div class="price-details">
                            <div class="price-number" style="margin-left:-5px; margin-top:5px">
                                <p><span class="rupees">@item.sanpham.GIA.ToString("N0")<b>đ</b></span></p>
                            </div>
                            <div class="add-cart right">
                                <h4 class="gio">
                                    @if (Session["SDT"] != null)
                                    {<a href="#">Cho vào giỏ</a> }
                                    else
                                    { <a href="#" onclick="document.getElementById('id05').style.display='block'">Cho vào giỏ</a>}
                                </h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>   }
            </div>
        }

        <div class="content_top">
            <div class="heading">
                <h3>Sản phẩm bán chạy</h3>
            </div>
            <div class="see">
                <p>@*<a href="#">Xem tất cả</a>*@</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div style="width:2px"></div>
            @foreach(var item in ViewBag.pcBanChay) { 
            <div class="grid_1_of_4 images_1_of_4" style="height:270px; width:250px">
                <div class="container5">
                    <img class="image5" style="height:145px" src="@item.IMAGE" alt="" />
                    <div class="overlay5">
                        <div class="text5">
                            <a href="/Home/ReviewProduct/@item.MODEL"><input type="button" class="btn5 btn-info" value="Chi tiết" style="margin-left:4px"></a> <br>
                            <a href="#"><input type="button" class="btn5 btn-danger" style="margin-top:2px" value="Mua ngay"></a>
                        </div>
                    </div>
                </div>
                    <a href="/Home/ReviewProduct/@item.MODEL"><h2 style="height:40px ;margin-top:5px">@item.TENMAY @item.MODEL</h2></a>
                    <div class="price-details">
                        <div class="price-number" style="margin-left:-5px; margin-top:5px">
                            <p><span class="rupees">@item.GIA.ToString("N0")<b>đ</b></span></p>
                        </div>
                        <div class="add-cart right">
                            <h4 class="gio">
                                @if (Session["SDT"] != null)
                                {<a href="#">Cho vào giỏ</a> }
                                else
                                { <a href="#" onclick="document.getElementById('id05').style.display='block'">Cho vào giỏ</a>}
                            </h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>   }   
        </div>




        <div class="content_top">
            <div class="heading">
                <h3>Sản phẩm mới nhất</h3>
            </div>
            <div class="see">
                <p>@*<a href="#">Xem tất cả</a>*@</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div style="width:2px"></div>
            @foreach (var item in ViewBag.pcMoiNhat)
            {
                <div class="grid_1_of_4 images_1_of_4" style="height:270px; width:250px">
                    <div class="container5">
                        <img class="image5" style="height:145px" src="@item.IMAGE" alt="" />
                        <div class="overlay5">
                            <div class="text5">
                                <a href="/Home/ReviewProduct/@item.MODEL"><input type="button" class="btn5 btn-info" value="Chi tiết" style="margin-left:4px"></a> <br>
                                <a href="#"><input type="button" class="btn5 btn-danger" style="margin-top:2px" value="Mua ngay"></a>
                            </div>
                        </div>
                    </div>
                    <a href="/Home/ReviewProduct/@item.MODEL"><h2 style="height:40px ;margin-top:5px">@item.TENMAY @item.MODEL</h2></a>
                    <div class="price-details">
                        <div class="price-number" style="margin-left:-5px; margin-top:5px">
                            <p><span class="rupees">@item.GIA.ToString("N0")<b>đ</b></span></p>
                        </div>
                        <div class="add-cart right">
                            <h4 class="gio">
                                @if (Session["SDT"] != null)
                                {<a href="#">Cho vào giỏ</a> }
                                else
                                { <a href="#" onclick="document.getElementById('id05').style.display='block'">Cho vào giỏ</a>}
                            </h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>   }
        </div>

    </div>


</div>
