
@{
    ViewBag.Title = "ReviewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/jssor.slider-23.1.5.min.js"></script>

<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="back-links">
                <p><a href="/Home/Index">Trang chủ</a> > <a href="#">@ViewBag.sanpham.TENMAY  @ViewBag.sanpham.MODEL</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="cont-desc span_1_of_2">
                <div class="product-details" >
                    <div class="grid images_3_of_2">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <div >
                                        <img id="myImg3" width="320" height="240" alt="Hình ảnh sản phẩm" src="@ViewBag.sanpham.IMAGE" />
                                        <div id="myModal3" class="modal3">
                                            <span class="close3">&times;</span>
                                            <img class="modal-content3" id="img03">
                                            <div id="caption3"></div>
                                        </div>

                                        <script>
                                            var modal3 = document.getElementById('myModal3');
                                            var img3 = document.getElementById('myImg3');
                                            var modalImg3 = document.getElementById("img03");
                                            var captionText3 = document.getElementById("caption3");
                                            img3.onclick = function () {
                                                modal3.style.display = "block";
                                                modalImg3.src = this.src;
                                                captionText3.innerHTML = this.alt;
                                            }

                                            var span3 = document.getElementsByClassName("close3")[0];

                                            span3.onclick = function () {
                                                modal3.style.display = "none";
                                            }
                                        </script>                                   
                                    </div>
                                    <ul class="pagination">
                                        <li><a ><img src="@ViewBag.sanpham.IMAGE" onclick="openModal();currentSlide(1)" class="hover-shadow cursor4" /></a></li>
                                        <li><a ><img src="@ViewBag.sanpham.IMAGE" onclick="openModal();currentSlide(2)" class="hover-shadow cursor4" /></a></li>
                                        <li><a ><img src="@ViewBag.sanpham.IMAGE" onclick="openModal();currentSlide(3)" class="hover-shadow cursor4" /></a></li>
                                        <li><a ><img src="@ViewBag.sanpham.IMAGE" onclick="openModal();currentSlide(4)" class="hover-shadow cursor4" /></a></li>
                                    </ul>
                                    <div id="myModal4" class="modal4">
                                        <span class="close4 cursor4" onclick="closeModal()">&times;</span>
                                        <div class="modal-content4">

                                            <div class="mySlides">
                                                <div class="numbertext" style="color:#B81D22">1 / 4</div>
                                                <img src="@ViewBag.sanpham.IMAGE" style="width:100%">
                                            </div>

                                            <div class="mySlides">
                                                <div class="numbertext" style="color:#B81D22">2 / 4</div>
                                                <img src="@ViewBag.sanpham.IMAGE" style="width:100%">
                                            </div>

                                            <div class="mySlides">
                                                <div class="numbertext" style="color:#B81D22">3 / 4</div>
                                                <img src="@ViewBag.sanpham.IMAGE" style="width:100%">
                                            </div>

                                            <div class="mySlides">
                                                <div class="numbertext" style="color:#B81D22">4 / 4</div>
                                                <img src="@ViewBag.sanpham.IMAGE" style="width:100%">
                                            </div>

                                            <a class="prev4" onclick="plusSlides(-1)">&#10094;</a>
                                            <a class="next4" onclick="plusSlides(1)">&#10095;</a>

                                            <div class="caption-container4">
                                                <p id="caption4"></p>
                                            </div>
                                        </div>
                                        <script>
                                               function openModal() {
                                                        document.getElementById('myModal4').style.display = "block";
                                                                    }

                                               function closeModal() {
                                                        document.getElementById('myModal4').style.display = "none";
                                                                     }

                                               var slideIndex = 1;
                                                       showSlides(slideIndex);

                                               function plusSlides(n) {
                                                        showSlides(slideIndex += n);
                                                                      }

                                               function currentSlide(n) {
                                                        showSlides(slideIndex = n);
                                                                        }

                                               function showSlides(n) {
                                                        var i;
                                                        var slides = document.getElementsByClassName("mySlides");
                                                        var dots = document.getElementsByClassName("demo");
                                                        var captionText = document.getElementById("caption4");
                                                         if (n > slides.length) {slideIndex = 1}
                                                        if (n < 1) {slideIndex = slides.length}
                                                         for (i = 0; i < slides.length; i++) {
                                                         slides[i].style.display = "none";
                                                                       }
                                                        for (i = 0; i < dots.length; i++) {
                                                        dots[i].className = dots[i].className.replace(" active", "");
                                                                        }
                                                        slides[slideIndex-1].style.display = "block";
                                                         dots[slideIndex-1].className += " active";
                                                         captionText.innerHTML = dots[slideIndex-1].alt;
                                                          }
                                        </script>

                                    </div>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desc span_3_of_2">
                        <h3 style="font-style:inherit">Tên sản phẩm:</h3>
                        <p style="font-size:20px">@ViewBag.sanpham.TENMAY  @ViewBag.sanpham.MODEL </p>
                        <div class="price">
                            <h3>Giá bán:</h3><p><span>@ViewBag.sanpham.GIA.ToString("N0") đ</span></p>
                        </div>
                        <div style="font-style:italic"> Sản phẩm được bảo hành <b style="color:red">@ViewBag.sanpham.THOIHANBAOHANH</b> tháng</div>
                        <div class="share-desc">
                            <div class="share">
                                <p>Chia sẻ :</p>                              
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>                               
                            </div>
                            <div class="button"><span><a href="#">Cho vào giỏ</a></span></div>
                            <div class="clear"></div>
                            <hr>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="container" style="z-index:0; margin-top:30px">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Cấu hình</a></li>
                        <li><a data-toggle="tab" href="#menu1">Chi tiết</a></li>
                        <li><a data-toggle="tab" href="#menu2">Đánh giá</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h4>Thông số cấu hình chi tiết: </h4>
                           <table class="table table-condensed">
                               @foreach(var item in ViewBag.cauhinh){
                               <tr>
                                   <td class="col-md-6">@item.TENLOAI</td>
                                   <td class="col-md-6">@item.TENLK</td>
                               </tr>
                                   }
                           </table>
                        </div>

                        <div id="menu1" class="tab-pane fade">
                            <h4>Mô tả chi tiết sản phẩm:</h4>
                            <p>@ViewBag.sanpham.DETAIL</p>
                            <p>Thông tin sẽ được cập nhật sau.</p>
                        </div>

                        <div id="menu2" class="tab-pane fade">
                            <h4>Đánh giá sản phẩm: </h4>
                            <ul>
                                <li>Rating :<a href="#"><img src="/Content/images/quality-rating.png" alt="" /></a></li>
                            </ul>
                            <div class="your-review">
                                <p style="color:darkgray">Người dùng có thể đánh giá sản phẩm sau khi mua.</p>
                                <h3>Hãy đánh giá sản phẩm</h3>
                                <form>
                                    <div>
                                        <span><label>Đánh giá của bạn<span class="red">*</span></label></span>
                                        <span><input type="text" value=""></span>
                                    </div>
                                    <div>
                                        <span><label>Bình luận<span class="red">*</span></label></span>
                                        <span><textarea> </textarea></span>
                                    </div>
                                    <div>
                                        <span><input type="submit" value="Đánh giá"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="rightsidebar span_3_of_1" style="margin-left:30px">
                <ul>
                    <li><h3 style="margin-left:3px">HÃNG SẢN XUẤT</h3></li>
                    <li><a id="Asus" href="/Home/SanPhamTheoHang/Asus">ASUS</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Acer">ACER</a></li>
                    <li><a href="/Home/SanPhamTheoHang/HP">HP</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Apple">APPLE</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Lenovo">LENOVO</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Dell">DELL</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Sony">SONY</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Samsung">SAMSUNG</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Toshiba">TOSHIBA</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Intel">INTEL</a></li>
                    <li><a href="/Home/SanPhamTheoHang/MSI">MSI</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Gigabyte">GigaByte</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Nec">Nec</a></li>
                    <li><a href="/Home/SanPhamTheoHang/Nec">HÃNG KHÁC</a></li>
                </ul>
                <div class="subscribe">
                    <h2>Nhận thông báo</h2>
                    <p>Sản phẩm Asus......</p>
                    <div class="signup">
                        <form>
                            <input type="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'E-mail address'; }"><input type="submit" value="Sign up">
                        </form>
                   </div>
                </div>
            </div>
        </div>

        <div class="section group">
            <div style="width:2px"></div>
            @foreach (var item in ViewBag.goiYTheoSanPham)
            {
                <div class="grid_1_of_4 images_1_of_4" style="height:270px; width:250px">
                    <div class="container5">
                        <img class="image5" style="height:145px" src="@item.sanpham.IMAGE" alt="" />
                        <div class="overlay5">
                            <div class="text5">
                                <a href="/Home/ReviewProduct/@item.sanpham.MODEL"><input type="button" class="btn5 btn-info" value="Chi tiết" style="margin-left:4px"></a> <br>
                                <a href="#"><input type="button" class="btn5 btn-danger" style="margin-top:2px" value="Mua ngay"></a>
                            </div>
                        </div>
                    </div>
                    <a href="/Home/ReviewProduct/@item.sanpham.MODEL"><h2 style="height:40px ;margin-top:5px">@item.sanpham.TENMAY @item.sanpham.MODEL</h2></a>
                    <div class="price-details">
                        <div class="price-number" style="margin-left:-5px; margin-top:5px">
                            <p><span class="rupees">@item.sanpham.GIA.ToString("N0")<b>đ</b></span></p>
                        </div>
                        <div class="add-cart right">
                            <h4 class="gio">
                                @if (Session["SDT"] != null)
                                {<a href="#">Cho vào giỏ</a> }
                                else
                                { <a href="#" onclick="document.getElementById('id05').style.display='block'">Cho vào giỏ</a>}
                            </h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>   }
        </div>

    </div>
</div>

<!--Modal anh san pham-->
<style>
    #myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}


.modal3 {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}


.modal-content3 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 400px;
}

#caption3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


.modal-content3, #caption3 {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}



.close3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fcfbf9;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close3:hover,
.close3:focus {
    color:#fcfbf9;
    text-decoration: none;
    cursor: pointer;
}

/*Overlay image*/
.overlay5 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #51504b;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  opacity:0.9;
}

.container5:hover .overlay5 {
  bottom: 0;
  height: 100%;
}

.text5 {
  white-space: nowrap; 
  color: #B81D22;
  font-size:20px;
  position:absolute;
  overflow:hidden;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
}
.container5 {
  position: relative;
}
.btn5{
    width:110px;
    font-family:ambleregular; 
    border:0;  
}

</style>

