@model QLPC.Models.DataModel.SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="box box-primary">
    <div class="box-header "><h2>Chi tiết sản phẩm</h2></div>
    <br />
    <div>
        <table class="table">
            <tr>
                <td class="col-md-3" rowspan="9" width="250"><img src="@Model.IMAGE" width="250" height="250" /><br/><a href="#"><u>Xem thêm ảnh</a></u></td>
                <th class="col-md-1">Tên máy:</th> 
                <td class="col-md-2"><p style="color:blue">@Model.TENMAY</p></td>
                <th class="col-md-1">Nhà phân phối:</th>
                <td class="col-md-1">Asux</td>
                <th class="col-md-1">Số lượng:</th>
                <td class="col-md-1">@Model.SOLUONG</td> 
                <th class="col-md-1">Giá niêm yết:</th>
                <td class="col-md-1">@Model.GIA</td>              
            </tr>
            <tr>
                
                <th>Mã hiệu:</th>
                <td class="col-md-2"><p style="color:blue">@Model.MODEL</p></td>
                <th>Hãng sản xuất:</th>
                <td>FPT</td>
                <th>Bảo hành (tháng):</th>
                <td>@Model.THOIHANBAOHANH</td>
                <th>Giá khuyến mãi:</th>
                <td>@Model.GIAKHUYENMAI</td>
            </tr>
            <tr>             
                <th colspan="7">Mô tả:</th>
            </tr>
        </table>
    </div>
    <div class="form-group box-footer">
        <div class="col-md-offset-3 col-md-9">
            <span>
                <input type="submit" value="Cập nhật" class="btn btn-primary btn" /> &nbsp &nbsp
                <a href="/Admin/Sanpham/Index"><input class="btn btn-default" type="button" value="Trở về" /></a>
            </span>
        </div>
    </div>
</div>